<app-navbar></app-navbar>
<section class="background">
    <div class="back-cover central-content">
        <div>
            <button *ngIf="authService.hasAdminOrFuncionarioPermission()" class="home-button" [routerLink]="['/biblioteca/usuarios']">Usuários</button>
            <button class="home-button" [routerLink]="['/biblioteca/livros']">Livros</button>
            <button class="home-button" [routerLink]="['/biblioteca/emprestimos']">Empréstimos</button>
        </div>
    </div>
</section>