<div class="nav-style">
  <nav class="navbar">
    <div class="container-fluid">
      <button
        type="button"
        (click)="toggleNavbar()"
        role="button"
        [attr.aria-controls]="'navbar'"
        [attr.aria-expanded]="!isCollapsed"
        aria-label="Toggle navigation"
        class="toggle-btn"
      >
        <i class="fas fa-bars"></i>
      </button>

      <div [ngClass]="{'collapsed': isCollapsed, 'expanded': !isCollapsed}" id="navbar" class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-buttons" aria-current="page" [routerLink]="['/biblioteca']">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-buttons" [routerLink]="['/biblioteca/usuarios']">Usuários</a>
          </li>
          <li class="nav-item">
            <a class="nav-buttons" [routerLink]="['/biblioteca/livros']">Livros</a>
          </li>
          <li class="nav-item">
            <a class="nav-buttons" [routerLink]="['/biblioteca/emprestimos']">Empréstimos</a>
          </li>
          <li class="nav-item">
            <a class="nav-buttons" href="">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
