<app-navbar></app-navbar>
<div class="background central-content">
    <div class="back-cover">
        <section>
            <div>
                <button class="button-cad-livro" [routerLink]="['/biblioteca/livros/cadastro']">Cadastrar</button>
            </div>
        </section>
        <section>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Gênero</th>
                        <th>ISBN</th>
                        <th>Ano</th>
                        <th>Exemplares</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-style-list" *ngFor="let livro of livros; trackBy: trackById">
                        <td>{{ livro.bookId }}</td>
                        <td>{{ livro.title }}</td>
                        <td>{{ livro.author }}</td>
                        <td>{{ livro.genre }}</td>
                        <td>{{ livro.isbn }}</td>
                        <td>{{ livro.publicationYear }}</td>
                        <td>{{ livro.copiesQuantity }}</td>
                        <td>
                            <button class="dropdown-toggle" (click)="toggleDropdown(livro.bookId)"></button>
                            
                            <div class="dropdown-menu" *ngIf="dropdownOpenId === livro.bookId">
                                <button class="dropdown-item" [routerLink]="['/biblioteca/livros/editar', livro.bookId]">Editar</button>
                                <button class="dropdown-item" (click)="excluirLivro(livro.bookId)">Excluir</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
