<app-navbar></app-navbar>
<section>
    <div>
        <h1>Cadastro de usuários</h1>
    </div>
    <form>
        <mdb-form-control class="mb-4">
          <input mdbInput type="text" id="nomeUsuario" class="form-control" [(ngModel)]="nomeUsuario" name="nomeUsuario" />
          <label mdbLabel class="form-label" for="nome">Nome do usuário</label>
        </mdb-form-control>

        <mdb-form-control class="mb-4">
            <input mdbInput type="text" id="cpf" class="form-control" [(ngModel)]="cpf" name="cpf" />
            <label mdbLabel class="form-label" for="cpf">CPF do usuário</label>
          </mdb-form-control>
      
        <mdb-form-control class="mb-4">
          <input mdbInput type="password" id="senha" class="form-control" [(ngModel)]="senha" name="senha" />
          <label mdbLabel class="form-label" for="senha">Senha do usuário</label>
        </mdb-form-control>

        <div class="form-check">
            <h5>Tipo de usuário</h5>
            <div>
                <input class="form-check-input" type="radio" name="tipoUsuario" [(ngModel)]="tipoUsuario" value="usuario" id="usuario" (change)="onTipoUsuarioChange()" />
                <label class="form-check-label" for="usuario"> Usuário </label>
            </div>
            <div>
                <input class="form-check-input" type="radio" name="tipoUsuario" [(ngModel)]="tipoUsuario" value="admin" id="admin" (change)="onTipoUsuarioChange()" />
                <label class="form-check-label" for="admin"> Administrador </label>
            </div>
            <div>
                <input class="form-check-input" type="radio" name="tipoUsuario" [(ngModel)]="tipoUsuario" value="funcionario" id="funcionario" (change)="onTipoUsuarioChange()" />
                <label class="form-check-label" for="funcionario"> Funcionário </label>
            </div>
        </div>
        <span *ngIf="usuarioEditado" class="badge rounded-pill badge-success">Usuário editado!</span>
        <button mdbRipple type="button" class="btn btn-primary btn-block" (click)="editar()">Salvar</button>
        <button mdbRipple type="button" class="btn btn-danger btn-block" [routerLink]="['/biblioteca/usuarios']">Cancelar</button>
      </form>
</section>
