|<app-navbar></app-navbar>

<div class="background background central-content">
    <div class="back-cover">
        <section>
            <div>
                <button class="button-cad-livro" [routerLink]="['/biblioteca/emprestimos/cadastro']">Cadastrar</button>
            </div>
        </section>
        <section>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuário</th>
                        <th>Livro</th>
                        <th>Data do empréstimo</th>
                        <th>Data de Devolução</th>
                        <th>Status do empréstimo</th>
                        <th>Devolução</th>
                    </tr>
                </thead>
                <tbody>
                    @for (emprestimo of emprestimos; track $index) {
                    <tr text-style-list>
                        <td>{{ emprestimo.loanId }}</td>
                        <td>{{ emprestimo.userId.username}}</td>
                        <td>{{ emprestimo.bookId.title }}</td>
                        <td>{{ emprestimo.loanDate }}</td>
                        <td>{{ emprestimo.efectiveReturnDate }}</td>
                        <td>{{ emprestimo.loanStatus }}</td>
                        <td>
                            <button (click)="devolverLivro(emprestimo.loanId)">Devolver</button>
                            <div *ngIf="multa">
                                <p>{{ mensagemMulta }}</p>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>